<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.tutorialsN.Listener.MyListener"/>
	</listeners>
  <test name="Test">
    <classes>
      <class name="com.tutorialN.testCases.RegisterTest"/>
      <class name="com.tutorialN.testCases.SearchProductTest"/>
      <class name="com.tutorialN.testCases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->